nodered/app/flows/PlantBot.json
[
    {
        "id": "7c45095b.4dbc78",
        "type": "tab",
        "label": "Water Sensors",
        "disabled": false,
        "info": "The atlas scientific PH stamps. "
    },
    {
        "id": "f9f67010.41712",
        "type": "tab",
        "label": "Controls",
        "disabled": false,
        "info": "These are the binary on offs of the system. \n\n1. Water pump\n2. Light"
    },
    {
        "id": "f4000695.709848",
        "type": "tab",
        "label": "Temperature / Humidity",
        "disabled": false,
        "info": ""
    },
    {
        "id": "99ca694c.282dd8",
        "type": "ui_tab",
        "z": "",
        "name": "Controls",
        "icon": "dashboard"
    },
    {
        "id": "4bc2f900.295788",
        "type": "ui_group",
        "z": "",
        "name": "Light",
        "tab": "99ca694c.282dd8",
        "disp": true,
        "width": "6"
    },
    {
        "id": "d08a2407.5f8848",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Courier,monospace",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#23a056",
                "baseFont": "Courier,monospace",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#23a157",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#23a056",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#3bd47a",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#23a056",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Courier,monospace"
                }
            }
        },
        "site": {
            "name": "PlantBot",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "661cc9a3.56b6f8",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\r",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "4244899a.60cb08",
        "type": "ui_tab",
        "z": "",
        "name": "Sensor Graphs",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "fa0530b.ba496d",
        "type": "ui_group",
        "z": "",
        "name": "Sensors",
        "tab": "4244899a.60cb08",
        "order": 1,
        "disp": true,
        "width": "4"
    },
    {
        "id": "e8569dfa.0cdfc",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyAMA0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\r",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "dd0317c1.9a7e68",
        "type": "ui_group",
        "z": "",
        "name": "Pump 1",
        "tab": "99ca694c.282dd8",
        "disp": true,
        "width": "6"
    },
    {
        "id": "14d774c1.3968db",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyUSB1",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\r",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "20d02820.221598",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\r",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "ec7edf5.8ba852",
        "type": "serial out",
        "z": "7c45095b.4dbc78",
        "name": "Temperature Sensor",
        "serial": "14d774c1.3968db",
        "x": 530,
        "y": 200,
        "wires": []
    },
    {
        "id": "10eaf4f4.6e43fb",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Read",
        "topic": "",
        "payload": "r,<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 122,
        "y": 143,
        "wires": [
            [
                "ec7edf5.8ba852"
            ]
        ]
    },
    {
        "id": "227b1fc4.cbcbe",
        "type": "debug",
        "z": "7c45095b.4dbc78",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 852,
        "y": 259,
        "wires": []
    },
    {
        "id": "92000705.cd6188",
        "type": "serial in",
        "z": "7c45095b.4dbc78",
        "name": "Temperature Sensor Output",
        "serial": "14d774c1.3968db",
        "x": 560,
        "y": 260,
        "wires": [
            [
                "227b1fc4.cbcbe",
                "5961f6e6.b1f568"
            ]
        ]
    },
    {
        "id": "2556a55e.d1745a",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Information",
        "topic": "",
        "payload": "i,<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 138,
        "y": 239,
        "wires": [
            [
                "ec7edf5.8ba852"
            ]
        ]
    },
    {
        "id": "a2f8545a.cbadb8",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "",
        "topic": "",
        "payload": "?,<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 118,
        "y": 279,
        "wires": [
            [
                "ec7edf5.8ba852"
            ]
        ]
    },
    {
        "id": "ec105d26.3186d",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Temperature Compensation",
        "topic": "",
        "payload": "T,<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 184,
        "y": 374,
        "wires": [
            [
                "ec7edf5.8ba852"
            ]
        ]
    },
    {
        "id": "e70d94b7.a12c68",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Status",
        "topic": "",
        "payload": "Status,<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 114,
        "y": 418,
        "wires": [
            [
                "ec7edf5.8ba852"
            ]
        ]
    },
    {
        "id": "c7031e10.93ee7",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Enable/Disable LED",
        "topic": "",
        "payload": "L,<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 154,
        "y": 461,
        "wires": [
            [
                "ec7edf5.8ba852"
            ]
        ]
    },
    {
        "id": "ee27220b.9cff5",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Calibration",
        "topic": "",
        "payload": "Cal,<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 126,
        "y": 328,
        "wires": [
            [
                "ec7edf5.8ba852"
            ]
        ]
    },
    {
        "id": "3b3af939.458806",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Disable Continuous Read",
        "topic": "Calibration",
        "payload": "C,0<cr>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 164,
        "y": 175,
        "wires": [
            [
                "ec7edf5.8ba852"
            ]
        ]
    },
    {
        "id": "e4996c10.c40c9",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Slope",
        "topic": "",
        "payload": "Slope,<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 111,
        "y": 504,
        "wires": [
            []
        ]
    },
    {
        "id": "6273258d.714edc",
        "type": "comment",
        "z": "7c45095b.4dbc78",
        "name": "EZO Stamp Commands",
        "info": "All commands are ascii strings or ascii characters",
        "x": 140.5,
        "y": 40,
        "wires": []
    },
    {
        "id": "3563c2fc.f92bde",
        "type": "grovepi-relay",
        "z": "f9f67010.41712",
        "name": "Pump",
        "pin": "2",
        "x": 444,
        "y": 366,
        "wires": []
    },
    {
        "id": "80b4db27.ad18a8",
        "type": "inject",
        "z": "f9f67010.41712",
        "name": "On",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 106,
        "y": 103,
        "wires": [
            [
                "afa88eea.a21d1"
            ]
        ]
    },
    {
        "id": "a42dab4d.1ac8a8",
        "type": "inject",
        "z": "f9f67010.41712",
        "name": "Off",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 106,
        "y": 161,
        "wires": [
            [
                "ca87fe8a.e64bb"
            ]
        ]
    },
    {
        "id": "55686922.8e1e18",
        "type": "grovepi-relay",
        "z": "f9f67010.41712",
        "name": "Light",
        "pin": "3",
        "x": 655,
        "y": 86,
        "wires": []
    },
    {
        "id": "f758e48b.6c1328",
        "type": "comment",
        "z": "f9f67010.41712",
        "name": "Relay Controls",
        "info": "",
        "x": 116.5,
        "y": 37,
        "wires": []
    },
    {
        "id": "afa88eea.a21d1",
        "type": "ui_button",
        "z": "f9f67010.41712",
        "name": "",
        "group": "4bc2f900.295788",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Light ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "",
        "x": 250.5,
        "y": 103,
        "wires": [
            [
                "5dd28ba8.3e3f84"
            ]
        ]
    },
    {
        "id": "ca87fe8a.e64bb",
        "type": "ui_button",
        "z": "f9f67010.41712",
        "name": "",
        "group": "4bc2f900.295788",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Light Off",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 251,
        "y": 160,
        "wires": [
            [
                "5dd28ba8.3e3f84"
            ]
        ]
    },
    {
        "id": "56c62e58.7ef53",
        "type": "serial in",
        "z": "7c45095b.4dbc78",
        "name": "Ph Sensor Ouput",
        "serial": "661cc9a3.56b6f8",
        "x": 540,
        "y": 700,
        "wires": [
            [
                "c5e302a6.3c49b",
                "3ef2e8e.e5a3618"
            ]
        ]
    },
    {
        "id": "e6ffa088.c7ac2",
        "type": "serial out",
        "z": "7c45095b.4dbc78",
        "name": "Ph Sensor",
        "serial": "661cc9a3.56b6f8",
        "x": 519,
        "y": 639,
        "wires": []
    },
    {
        "id": "c5e302a6.3c49b",
        "type": "debug",
        "z": "7c45095b.4dbc78",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 700,
        "wires": []
    },
    {
        "id": "75c039d4.f6ac78",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Read",
        "topic": "",
        "payload": "r,<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 190,
        "y": 640,
        "wires": [
            [
                "e6ffa088.c7ac2"
            ]
        ]
    },
    {
        "id": "42d67188.62481",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Disable Continuous Read",
        "topic": "Calibration",
        "payload": "C,0<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 680,
        "wires": [
            [
                "e6ffa088.c7ac2"
            ]
        ]
    },
    {
        "id": "7cc43ef6.33721",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "",
        "topic": "",
        "payload": "S,<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 310,
        "y": 120,
        "wires": [
            [
                "ec7edf5.8ba852"
            ]
        ]
    },
    {
        "id": "752a3349.27f01c",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Enable Continuous Read",
        "topic": "Calibration",
        "payload": "C,1<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 161,
        "y": 208,
        "wires": [
            [
                "ec7edf5.8ba852"
            ]
        ]
    },
    {
        "id": "afa22def.1054a",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Enable Continuous Read",
        "topic": "",
        "payload": "C,1<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 170,
        "y": 720,
        "wires": [
            [
                "e6ffa088.c7ac2"
            ]
        ]
    },
    {
        "id": "92d3dc6f.2edc8",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "Disable Continuous Read",
        "topic": "Calibration",
        "payload": "C,?<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 800,
        "wires": [
            [
                "e6ffa088.c7ac2"
            ]
        ]
    },
    {
        "id": "7b262979.f27878",
        "type": "inject",
        "z": "7c45095b.4dbc78",
        "name": "",
        "topic": "",
        "payload": "i,<CR>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 230,
        "y": 760,
        "wires": [
            [
                "e6ffa088.c7ac2"
            ]
        ]
    },
    {
        "id": "5dd28ba8.3e3f84",
        "type": "bigtimer",
        "z": "f9f67010.41712",
        "outtopic": "",
        "outpayload1": "",
        "outpayload2": "",
        "name": "LightCycle",
        "lat": "38.56125",
        "lon": "-121.41526",
        "starttime": "360",
        "endtime": 1425,
        "startoff": 0,
        "endoff": 0,
        "offs": "-7",
        "outtext1": "1",
        "outtext2": "0",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 453.5,
        "y": 113.5,
        "wires": [
            [],
            [
                "55686922.8e1e18"
            ],
            [
                "191b7fac.d5aa2"
            ]
        ]
    },
    {
        "id": "191b7fac.d5aa2",
        "type": "debug",
        "z": "f9f67010.41712",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 674.5,
        "y": 148,
        "wires": []
    },
    {
        "id": "bc65111.cce76f",
        "type": "inject",
        "z": "f9f67010.41712",
        "name": "On",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 100,
        "y": 340,
        "wires": [
            [
                "d7a9bf21.bdc4d"
            ]
        ]
    },
    {
        "id": "4c7b64ca.729bac",
        "type": "inject",
        "z": "f9f67010.41712",
        "name": "Off",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 100,
        "y": 398,
        "wires": [
            [
                "2fc4c1cb.75bf0e"
            ]
        ]
    },
    {
        "id": "d7a9bf21.bdc4d",
        "type": "ui_button",
        "z": "f9f67010.41712",
        "name": "",
        "group": "dd0317c1.9a7e68",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Pump ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "",
        "x": 244.5,
        "y": 340,
        "wires": [
            [
                "3563c2fc.f92bde"
            ]
        ]
    },
    {
        "id": "2fc4c1cb.75bf0e",
        "type": "ui_button",
        "z": "f9f67010.41712",
        "name": "",
        "group": "dd0317c1.9a7e68",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Pump Off",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 245,
        "y": 397,
        "wires": [
            [
                "3563c2fc.f92bde"
            ]
        ]
    },
    {
        "id": "906264cc.397388",
        "type": "comment",
        "z": "7c45095b.4dbc78",
        "name": "Ph Sensor",
        "info": "",
        "x": 182.5,
        "y": 577,
        "wires": []
    },
    {
        "id": "444aed24.635c14",
        "type": "comment",
        "z": "7c45095b.4dbc78",
        "name": "Temp Sensor",
        "info": "",
        "x": 507,
        "y": 116,
        "wires": []
    },
    {
        "id": "5961f6e6.b1f568",
        "type": "ui_chart",
        "z": "7c45095b.4dbc78",
        "name": "Temperature (C)",
        "group": "fa0530b.ba496d",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature (C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 855,
        "y": 218,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3ef2e8e.e5a3618",
        "type": "ui_chart",
        "z": "7c45095b.4dbc78",
        "name": "Ph",
        "group": "fa0530b.ba496d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Ph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "1",
        "ymax": "14",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 731,
        "y": 655,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "824c0b10.c0a3b8",
        "type": "serial in",
        "z": "f4000695.709848",
        "name": "Temperature/Humidity",
        "serial": "20d02820.221598",
        "x": 376.5,
        "y": 210,
        "wires": [
            [
                "decd1be4.ea0548",
                "911d5bb2.b11e38"
            ]
        ]
    },
    {
        "id": "e607b4eb.a1a008",
        "type": "serial out",
        "z": "f4000695.709848",
        "name": "",
        "serial": "20d02820.221598",
        "x": 569.5,
        "y": 357,
        "wires": []
    },
    {
        "id": "d644ead1.4ebf38",
        "type": "debug",
        "z": "f4000695.709848",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 764.5,
        "y": 250.0625,
        "wires": []
    },
    {
        "id": "decd1be4.ea0548",
        "type": "ui_chart",
        "z": "f4000695.709848",
        "name": "",
        "group": "fa0530b.ba496d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 600.5,
        "y": 166,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "911d5bb2.b11e38",
        "type": "split",
        "z": "f4000695.709848",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 599.5,
        "y": 280,
        "wires": [
            [
                "d644ead1.4ebf38",
                "458de404.d6863c"
            ]
        ]
    },
    {
        "id": "458de404.d6863c",
        "type": "debug",
        "z": "f4000695.709848",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 761,
        "y": 303,
        "wires": []
    }
]
