nodered/app/flows/sonoff.json
[
    {
        "id": "e2e37f27.825bf",
        "type": "tab",
        "label": "SONOFF",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3fd79243.97f58e",
        "type": "sonoff-list",
        "z": "e2e37f27.825bf",
        "name": "",
        "server": "85895bf7.453c28",
        "x": 412.5,
        "y": 248,
        "wires": [
            [
                "e708ef26.4b76f"
            ]
        ]
    },
    {
        "id": "eba1b8b6.8abf68",
        "type": "inject",
        "z": "e2e37f27.825bf",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 193.5,
        "y": 150,
        "wires": [
            [
                "3fd79243.97f58e"
            ]
        ]
    },
    {
        "id": "e708ef26.4b76f",
        "type": "debug",
        "z": "e2e37f27.825bf",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 648.5,
        "y": 184,
        "wires": []
    },
    {
        "id": "23c75cde.b37da4",
        "type": "Sonoff device",
        "z": "e2e37f27.825bf",
        "mode": "0",
        "broker": "febd66e7.d58d78",
        "device": "sonoff",
        "name": "",
        "onValue": "ON",
        "offValue": "OFF",
        "cmdPrefix": "cmnd",
        "statPrefix": "stat",
        "telePrefix": "tele",
        "x": 389.5,
        "y": 378,
        "wires": [
            [
                "5dbe11d1.0aa62"
            ]
        ]
    },
    {
        "id": "32660cf7.2ccea4",
        "type": "inject",
        "z": "e2e37f27.825bf",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 145,
        "y": 347,
        "wires": [
            [
                "23c75cde.b37da4"
            ]
        ]
    },
    {
        "id": "5dbe11d1.0aa62",
        "type": "debug",
        "z": "e2e37f27.825bf",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 600,
        "y": 381,
        "wires": []
    },
    {
        "id": "85895bf7.453c28",
        "type": "sonoff-server",
        "z": "",
        "serverIP": "192.168.1.11",
        "httpsPort": "1080",
        "websocketPort": "443"
    },
    {
        "id": "febd66e7.d58d78",
        "type": "mqtt-broker",
        "z": "",
        "broker": "192.168.1.12",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    }
]